[Unit]
Description=Gerencia todo o Asterisk
After=network.target


[Service]
StandardOutput=file:/var/log/iasmin-asterisk-manager.log
#StandardOutput=null
WorkingDirectory=/opt/iasmin-asterisk-manager
ExecStart=npm start:prod
Restart=always
RestartSec=300s

[Install]
WantedBy=multi-user.target
