[Unit]
Description=Gerencia todo o Asterisk
After=network.target


[Service]
StandardOutput=file:/var/log/iasmin-asterisk-api.log
#StandardOutput=null
WorkingDirectory=/opt/iasmin-asterisk-api
ExecStart=npm run start:prod
Restart=always
RestartSec=300s

[Install]
WantedBy=multi-user.target
